@charset "EUC-KR";
body{
    padding: 50px;
   
}
li{
    list-style:none;
}
.product_view{
    position: relative;
    width: 1000px;
    padding: 0 0 0 400px;
    box-sizing: border-box;

}
.product_view .productimg{
    position: absolute;
    left:0px;
    top: 0px;
   
}
.product_view .productimg > img {
    width: 360px;
    height: 370px;
    border: 1px solid #e8e8e8;
}
.product_view .productimg li:after{
    content:"";
    display: block;
    clear: both;
}
.product_view .productimg .on{
    float: left;
    padding: 10px 10px 0 0;
}
.product_view .productimg li.on img{
    border-color: #0a56a9;
}
.product_view .productimg li img {
    width: 70px;
    height: 70px;
    border: 1px dotted #e8e8e8;
}
.product_view h2{
    padding: 0 0 20px;
    border-bottom:2px solid #333;
    font-size:24px;
    color:#232323;
    line-height: 26px; 
    margin: 0 0 15px;
}
/* .product_view table th{
    padding: 14px, 0;
    font-size:15px;
    color:#444;
    text-align: left;
    
}
.product_view table td{
    padding: 14px, 0;
    font-size:14px;
    color:#444;
    text-align: left;
    
} */
.product_view table td.productprice{
    font-size: 22px;
}
.product_view table td.sumprice{
    font-size: 19px;
    color:#0a56a9;
}
.product_view table td.sumprice b{
    font-size:22px;
}
.product_view table th,
.product_view table td{
    padding: 10px 0;
    font-size:15px;
    color:#444;
    text-align: left;
}
.product_view table .length{
    position:relative;
    width:50px;
    height:32px;
/*     border:1px solid #c6c6c6; */
}
.product_view table .length input{
    width:40px;
    height: 30px;
    border: 1px solid #c6c6c6;
    text-align: center;
/*     border-right: 1px solid #c6c6c6; */
}
/* .product_view table .length a{ */
/*     overflow: hidden; */
/*     position: absolute; */
/*     right:0; */

/*     height:16px; */
/*     width:23px; */
/*     color:transparent; */
/* } */
/* /* 위 아래 화살표 이미지 넣기, js로 버튼 작동 시킬것 */ */
/* .product_view table .length a:nth-of-type(1){ */
/*     text-align: center; */
/*     top:0; */
/*   background:url("..image/ico_up.png") no-repeat center; */
/*     border-bottom:1px solid #c6c6c6; */
/* } */
/* .product_view table .length a:nth-of-type(2){ */
/*     text-align: center; */
/*     bottom:0; */
/*     background:url("image/ico_down.png") no-repeat center; */
/*   } */

  /* select 박스 화살표 지우고, 이미지 화살표 넣기  */
.product_view table select {
    background:url("image/ico_select.png") no-repeat right 11px center;
    width:100%;
    border: 1px solid #c6c6c6; 
    box-sizing: border-box;
    appearance: none; 
    -webkit-appearance:none;
     -moz-appearance:none;
     
}
.product_view table select::-ms-expand{
    display:none;
    
}

.product_view .btns{
    text-align: center;
}
.product_view .btns >a{
    display:inline-block;
    width: 136px;
    height:42px;
    font-size:16px;
    color:white;
   
}

.product_view .putinbusket{

}
/* 구매하기 버튼 */
.product_view .btns .buyit{
        display: inline-block;
        border-radius: 4px;
        background-color: #0a56a9;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        vertical-align:middle;
      }
      
      .buyit span {
        text-align:center;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .buyit span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .buyit:hover span {
        padding-right: 25px;
      }
      
      .buyit:hover span:after {
        opacity: 1;
        right: 0;
      }
        /* 장바구니 버튼 */
      .product_view .btns .putinbusket{
        display: inline-block;
        border-radius: 4px;
        background-color: #666;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        vertical-align:middle;
      }
      
      .putinbusket span {
        text-align:center;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .putinbusket span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .putinbusket:hover span {
        padding-right: 25px;
      }
      
      .putinbusket:hover span:after {
        opacity: 1;
        right: 0;
      }

  .img-magnifier-container {
    position:relative;
  }
  
  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
  }


#idx_top {
	width: 10%;
	height: 15px;
	
	 
	margin: 20px 10px 20px 10px;
} 


#idx_bottom {
	width: 10%;
	height: 15px;
	
	 
	margin: 20px 10px 20px 10px;
} 


